nav {
    width: 10%;
    height: 75%;
    position:fixed;
    left:0%;
    bottom:0%;
}

div#profile {
    width: 25%;
    height: 25%;
    position:fixed;
    left:0%;
    top:0%;
}

div#mainPage {
    width: 90%;
    height: 100%;
    position: relative;
    left: 10%;
    top: 0%;
}