body {
    background-color: rgb(234, 224, 218);
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

nav {
    width: calc(20% - 0.6em * 2);
    height: calc(80% - 0.6em * 2);
    position:fixed;
    left:0%;
    bottom:0%;
    background-color: rgb(247, 245, 235);
    margin: 0.5em;
    padding: 0.1em;
    border-radius: 0.5em;
    overflow: hidden;
}

div#profile {
    width: calc(20% - 1.0em * 2);
    height: calc(20% - 1.0em * 2);
    position:fixed;
    left:0%;
    top:0%;
    background-color: rgb(234, 199, 199);
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
}

div#mainPage > div.page > section {
    width: calc(80% - 1em * 2 - 0.7em);
    height: calc(100% - 1em * 2);
    position: relative;
    left: 20%;
    top: 0%;
    background-color: rgb(247, 245, 235);
    margin-bottom: 0.7em;
    border-radius: 0.5em;
    padding: 1em;
    display: block;
    overflow: hidden;
}

div#mainPage > div.pageSelect {
    width: 80%;
    display: block;
    position: relative;
    left: 20%;
    text-align: center;
    tab-size: 3;
}

div#mainPage > div.page > section > footer.timepoint {
    font-size: 0.5em;
    color:black;
}