nav {
    width: 20%;
    height: 80%;
    position:fixed;
    left:0%;
    bottom:0%;
    background-color: rgb(247, 245, 235);
}

div#profile {
    width: 20%;
    height: 20%;
    position:fixed;
    left:0%;
    top:0%;
    background-color: rgb(234, 199, 199);
}

div#mainPage {
    width: 80%;
    height: 100%;
    position: relative;
    left: 20%;
    top: 0%;
    background-color: rgb(234, 224, 218);
}