article#content_pane > header {
    color: #b26b6b;
    font-size: x-large;
    font-weight: bolder;
}

article#content_pane > div > section.post_list {
    margin-top:1em;
    padding-bottom:1em;
    border-bottom: 2px solid #b26b6b;
}

article#content_pane > div > section.post_list:last-child {
    border-bottom: none;
}

article#content_pane > div > section.post_list > header {
    font-size: larger;
    font-weight: bold;
    display: block;
}

article#content_pane > div > section.post_list > footer {
    font-size:smaller;
    color: gray;
}