article#content_pane > header {
    color: #b26b6b;
    font-size: x-large;
    font-weight: bolder;
}

article#content_pane > section.major {
    border-collapse: separate;
    border-spacing: 0 2em;
    border-color:transparent;
    table-layout: fixed;
    width: 100%;
    border-bottom: 2px solid #b26b6b;
    text-overflow: ellipsis;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

article#content_pane > section.major > div.title {
    font-size: large;
    font-weight: bold;
    border: 0;
    line-height: 180%;
}

article#content_pane > section.major > div.minor {
    border: 0;
    line-height: 180%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 1vh;
}

article#content_pane > section.major > div.minor > a {
    display: inline-block;
}